<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modificar Usuario Grupo 14 OO2 2021</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">Pagina de inicio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="http://localhost:8080/usuarios/">Usuarios</a></li>
                            <li class="nav-item"><a class="nav-link" href="http://localhost:8080/perfiles/">Perfiles</a></li>
                            <li class="nav-item"><a class="nav-link" href="http://localhost:8080/rodados/">Rodados</a></li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Permisos</a>
	                             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						            <li><a class="dropdown-item" href="http://localhost:8080/permisos/permisosDiarios">Diarios</a></li>
						            <li><a class="dropdown-item" href="http://localhost:8080/permisos/permisosPeriodos">Periodo</a></li>
          						</ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </main>
       
	<form action="#" th:action="@{/permisos/editarPermisoPeriodo/}" th:object="${lugarPermisoPeriodo} " method="post">
		<input type="hidden" th:field=" *{idPermisoPeriodo}"/>
		<p>Pedido Persona
                            <select class="form-control form-control-sm" th:field="*{idPedido}">
                             <option th:each="i : ${lstUsuarios}" th:value="${i.idUsuario}" th:text="${i.nombre}+' '+ ${i.apellido}"/>
                            </select>
                             </p>
		
		<p>Fecha <input type="date" th:field="*{permisoPeriodo.fecha}" /></p>
		
		<p>Desde <select class="form-control form-control-sm" th:field="*{idLugarDesde}">
                       <option th:each="i : ${lstAllLugares}" th:value="${i.idLugar}" th:text="${i.lugar}+' '+ ${i.codigoPostal}"/>
                       </select></p>
		
		<p>Hasta       <select class="form-control form-control-sm" th:field="*{idLugarHasta}">             
                       <option th:each="i : ${lstAllLugares}" th:value="${i.idLugar}" th:text="${i.lugar}+' '+ ${i.codigoPostal}"/>
                       </select></p>
        
		<p>Cantidad de dias <input type="text" th:field="*{permisoPeriodo.cantDias}"/></p>
		<p>Vacaciones
						<select class="form-control form-control-sm" th:field="*{permisoPeriodo.vacaciones}">             
                       	<option th:value="true" th:text="Si"/>
                       	<option th:value="false" th:text="No"/>
                       	</select></p>
		</p>
		<p>Rodado
			 <select class="form-control form-control-sm" th:field="*{idRodado}">
          	 <option th:each="i : ${lstRodados}" th:value="${i.idRodado}" th:text="${i.vehiculo}+' '+ ${i.dominio}"/>
          	 </select>
		</p>
		
                             </br>
        </p>               
		<input type="submit" />
		</form>
<!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>