<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>
    <body class="d-flex flex-column h-100">
<table>
		<thead>
			<tr>
				<th>tipo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="perfil :${perfiles}">
				<td><span th:text="${perfil.tipo}" /></td>
				<td><a type="button" class="btn btn-info" target="_self" th:href="@{/perfiles/editar/} + ${perfil.idPerfil}">Editar</a></td>
				<td><a type="button" class="btn btn-danger" target="_self" th:href="@{/perfiles/eliminarPerfil/} + ${perfil.idPerfil}">Eliminar</a></td>
			</tr>
		</tbody>
	</table>
	<p>
	  	<a class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
	    	Agregar Perfil
	  	</a>
	</p>
	<div class="collapse" id="collapseExample">
  		<div class="card card-body">
			<form action="#" th:action="@{/perfiles/}" th:object="${perfil}" method="post">
				<p>tipo: <input type="text" th:field=" *{tipo}" /></p>
				<input type="submit" />
			</form>    
	  	</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>